<?xml version="1.0" encoding="UTF-8"?>
<!--
This file is part of the DoctrineBinary package.

(c) Jury Sosnovsky <github@sosnoffsky.com>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
-->
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         bootstrap="vendor/autoload.php"
>
    <testsuites>
        <testsuite name="DoctrineBinary Test Cases">
            <directory suffix="Test.php">./tests/</directory>
        </testsuite>
    </testsuites>
</phpunit>
